:root {
	--primarycolor: #ff274b;
	--secondarycolor: #f7bcf7;
	--lightcolor: #ffffff;
	--bgcolor1: #171a1c;
	--bgcolor2: #22282a;
	--padding: 8%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: var(--lightcolor);
}

.homes {
	width: 100%;
	height: 130vh;
	background-color: var(--bgcolor1);
	flex-direction: column;
	display: flex;
}

span {
	color: var(--primarycolor);
}

h2 {
	letter-spacing: 0.10rem;
}

nav {
	padding-top: 2.8rem;
	padding-left: var(--padding);
	padding-right: var(--padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0.8rem 1.5rem;

}

nav ul li a {
	color: var(--lightcolor);
	text-decoration: none;
	transition: 0.4s;
	font-weight: bold;
}

nav ul li a:hover {
	color: var(--primarycolor);
}

.btn {
	background-color: var(--primarycolor);
	text-decoration: none;
	padding: 0.35rem 1.90rem;
	color: var(--lightcolor);
	border-radius: 35px;
	font-weight: 570;
	transition: 0.2s;
	border: 2px solid transparent;
}

.btn:hover {
	background-color: transparent;
	border: 2px solid var(--primarycolor);
}

.content {
	flex-grow: 1;
}

.contianer {
	padding: var(--padding);

}

div h3 span a {
	color: var(--primarycolor);
	text-decoration: none;
}

h1 {
	font-size: 3.65rem;
	letter-spacing: 0.15rem;
}

h3 {
	font-size: 1.50rem;
	letter-spacing: 0.15rem;
}

h4 {
	font-size: 1.50rem;
	letter-spacing: 0.15rem;
	color: var(--secondarycolor);
}

pre {
	position: relative;
	top: 15px;
}

.bb {
	position: relative;
	top: 5px;
}

.img2 {
	position: absolute;
	bottom: 0;
	left: 68%;
	/* background-color: #ff274b; */
	transition: bottom 0.30s;
	margin-bottom: 9%;
	height: fit-content;
}

.img2:hover {
	bottom: 40px;
}

.img1 {
	position: absolute;
	height: 50%;
	width: 25%;
	bottom: 0;
	top: 20%;
	margin-top: 24%;
	transition: top 0.30s;
}

.img1:hover {
	top: 10rem;
}


.contianer #btndownload {
	position: relative;
	top: 45px;
}

.social {
	margin-top: 4.5rem;
}

.social img {
	margin-right: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	transition: 0.3s;
}

.social img:hover {
	transform: scale(1.2);
}